#Title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#Title div {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  display: inline-block;
}

.choices {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.btn-outline-dark {
  color: #000;
  border-color: #000;
  font-weight: bold;
}

.btn-outline-dark:hover {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

