.card {
  margin: 20px;
}

h5{
  padding: 5%;
}

p{
  padding: 3% 5%;
}

/* Title */

#Title{
  background-color: #0C134F;
}

/* Stage-1 */

#Stage-1{
  padding: 10% 15% 0;
  padding: 15% 5%;
}



/* Stage-2 */

#Stage-2{
  padding: 10% 15%;
  background-color: #5C469C;
}

.choices{
  text-align: center;
}